img {
  max-width: 100%;
  height: auto;
}
a {
	text-decoration: none !important;
	display: block;
  color: black;
}
html {
	font-size: $font-size-base;
}
body {
  font-family: $font-family-base;
  line-height: $line-height-base;
}
h1,h2,h3,h4,h5,h6,.h1, .h2, .h3, .h4, .h5, .h6, p {
  line-height: $line-height-base;
  margin-bottom: 0;
  font-weight: normal;
}
.font {
  &-tc {
    font-family: 'Noto Sans TC', sans-serif;
  }
  &-rb{
    font-family: 'Roboto', sans-serif;
  }
}

.font-size {
  &-sm {
    font-size: $font-size-sm; //14px
    line-height: 1.5;
  }
  &-lg {
    font-size: $font-size-lg; //20px
    line-height: 1.5;
  }
  &-xl {
    font-size: 24px;
    line-height: 1.5;
    @include mobile {
      font-size: 20px;
    }
  }

}
.font-weight-medium {
  font-weight:500;
}
.material-icons {
  vertical-align: bottom;
}
.line-height-1 {
  line-height: 1;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}


